.ProjectBridge{
  display: block;
  width: 100%;
  height: 100%;
  .content{
    display: flex;
    width: 100%;
    height: 100%;
  }
  .MenuBar {
    z-index: 1001;
    display: flex;
    align-items: center;
    gap: 7px;
    position: absolute;
    right: 23px;
    bottom: 18px;
    opacity: 0.5;
    .MenuList {
      display: flex;
      width: 24.5px;
      height: 70px;
      padding: 7px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      border-radius: 7px;
      background: #d9d9d9;
      box-shadow: var(--color-shadow);
    }
    .Logout {
      display: flex;
      width: 70px;
      height: 70px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      border-radius: 7px;
      background: #d9d9d9;
      box-shadow: var(--color-shadow);
    }
  }

  .MenuBar:hover {
    opacity: 1;
  }

  .FloatingMenu {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 70px;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    z-index: 1002;
    position: absolute;
    cursor: move;
    height: fit-content;
    width: 70px;
    .mainButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: fit-content;
      background: var(--color-Button-bg);
      color: var(--color-Button-font);
      box-shadow: var(--color-shadow);
      height: 70px;
      width: 70px;
      border-radius: 100%;
    }
    .hoverButton {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      color: var(--color-Button-font);
      font-size: 30px;
    }
  }
}

p {
  color: var(--color-font);
}

.css-1gi03po-MuiGauge-container text,
.css-1xszln-MuiGauge-container text {
  fill: var(--color-Header) !important;
}

/* 设置滚动条的宽度 */
::-webkit-scrollbar {
  width: 10px; /* 水平滚动条宽度 */
}

/* 设置滚动条轨道的颜色 */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* 设置滚动条滑块的颜色 */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 6px;
}

/* 设置滑块悬浮时的颜色 */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.leaflet-bottom,
.leaflet-top {
  display: none;
}

body {
  background-color: var(--color-Template-bg);
}


.iconButton {
  color: var(--color-icon-button);
  font-size: 1.313em;
  line-height: normal;
  cursor: pointer;
}

.iconButton:hover {
  color: var(--color-icon-hover);
}

button,
.earthBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  gap: 5px;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.1;
  border-radius: 5px;
  background: var(--color-Button-bg);
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:hover {
  border-color: unset;
  background: var(--color-Button-hover);
}

button:disabled {
  opacity: 0.5; /* 讓按鈕禁用時看起來較淡 */
  cursor: not-allowed; /* 游標顯示為禁止符號 */
  pointer-events: none; /* 禁止鼠標事件（無法點擊） */
}

input,
Select,
textarea {
  flex: 1;
  border-radius: 5px;
  font-size: 1.125em;
  padding: 0 10px;
  min-height: 40px;
  width: 100%;
  border-width: 1px;
  background-color: var(--color-input);
  border-color: var(--color-input-br);
  color: var(--color-font);
}

input::placeholder {
  font-size: 0.9em;
  color: var(--color-input-placeholder);
}

input:disabled,
select:disabled {
  color: var(--color-disabled-font);
  background: var(--color-disabled);
  font-weight: bold;
  opacity: unset;
}

.InputRow {
  display: flex;
  height: fit-content;
  width: 100%;
  gap: 10px;
}

.ImageBox {
  display: flex;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  background: var(--color-component-bg);
  position: relative;
  color: var(--color-Header);
  img {
    height: 200px;
    width: 100%;
    align-self: unset;
  }
  h4 {
    color: var(--color-Header);
  }
}

.point {
  height: 15px;
  width: 15px;
  border-radius: 100%;
}

.Title {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
  color: var(--color-Header);
  h2 {
    color: var(--color-Header);
    font-weight: bold;
    line-height: normal;
  }
  button {
    color: var(--color-Button-font);
  }
}

.Logo {
  z-index: 1001;
  display: flex;
  padding: 3.689px 7.379px;
  flex-direction: column;
  align-items: center;
  gap: 3.689px;
  position: absolute;
  left: 25px;
  top: 22px;
  border-radius: 7.379px;
  opacity: 0.7;
  background: var(--color-white);
  box-shadow: var(--color-shadow);
  img {
    width: 63.243px;
    height: 68.621px;
  }
}

.Logo:hover {
  opacity: 1;
}

.NewLogin {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
  .Login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    .Title {
      display: block;
      width: 20%;
      color: var(--color-font-white);
      background-color: var(--color-Button-bg);
      padding: 10px 20px;
      border-radius: 10px;
      h2 {
        color: var(--color-font-white);
      }
    }
    .Form {
      display: flex;
      width: 20%;
      flex-direction: column;
      gap: 10px;
      padding: 10px 20px;
      background-color: var(--color-component-bg);
      border-radius: 10px;
      h3 {
        color: var(--color-Header);
      }
      .Input {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        label {
          color: var(--color-font);
          font-weight: bold;
        }
      }
      button {
        color: var(--color-Button-font);
      }
      p {
        background: var(--color-alert-bg);
        color: var(--color-alert-font);
        padding: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        border-radius: 10px;
      }
    }
  }
}

.Preview {
  display: flex;
  height: 100%;
  max-width: 40%;
  flex-grow: 1;
  position: relative;
  .Map {
    height: 100%;
    width: 100%;
  }
}

.AddBridge {
  z-index: 999;
  display: flex;
  width: 90%;
  color: var(--color-Button-font);
  font-size: 1.6em;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: 0 auto; /* 讓元素水平居中 */
}

.EditData,
.SensorChart,
.DisasterTable,
.ResultChart,
.AlertChart,
.MaintenanceChart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-overlay); /* 背景半透明 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  min-height: 60%;
  max-height: 80%;
  gap: 10px;
  background: var(--color-wrapper-bg);
  padding: 25px;
  border-radius: 25px;
  position: relative;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  button {
    color: var(--color-Button-font);
    font-weight: bold;
  }
  .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--color-Header);
    h2 {
      color: var(--color-Header);
    }
    button {
      color: var(--color-Button-font);
    }
  }
  .EditForm {
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    overflow: hidden;
    max-height: 100%;
    .CropButton {
      display: flex;
      gap: 10px;
      width: 100%;
      padding: 10px 0 0 0;
      justify-content: center;
      align-items: center;
    }
  }
  .Form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
    gap: 10px;
    min-width: 70%;
    border-radius: 10px;
    background: var(--color-form-bg);
    overflow: auto;
    .Input {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      flex: 1 0 0;
      gap: 5px;
      .BridgeInput {
        display: flex;
        position: relative;
        gap: 5px;
        .bridgeFinder {
          position: absolute;
          top: 45px;
          display: flex;
          flex-direction: column;
          background: var(--color-wrapper-bg);
          width: 100%;
          max-height: 100px;
          padding: 10px;
          border-radius: 5px;
          list-style: none;
          box-shadow: var(--color-shadow);
          gap: 5px;
          overflow: auto;
        }
      }
      .ImageUpdate {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
  }
  .SaveBar {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .NoteList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .Note {
        display: flex;
        width: 100%;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        border-radius: 10px;
        border: 2px solid var(--color-form-bg);
        background: var(--color-component-bg);
        box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.25);
        h3 {
          color: var(--color-font);
        }
      }
      .error {
        display: flex;
        width: 100%;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        border-radius: 10px;
        border: 2px solid var(--color-form-bg);
        background: var(--color-alert-font);
        box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.25);
        h3,
        p {
          color: var(--color-font-white);
        }
      }
    }
    button {
      width: 100%;
    }
  }
  .tablelist {
    display: flex;
    flex: 1 0 0;
    gap: 20px;
    .fvRatio {
      display: flex;
      width: 20%;
      gap: 5px;
      flex-direction: column;
      height: 100%;
      .ratio {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 10px;
        background-color: var(--color-Button-bg);
        color: var(--color-Button-font);
        font-size: 1.3em;
      }
      .fvData {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
    .sensorResult {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 100%;
      flex: 1 0 0;
    }
  }
  .infoData {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow: auto;
  }
}

.AlertChart {
  .ModalContent {
    width: 40%;
    min-height: unset;
  }
}

.MachineList,
.SensorDetail,
.SensorAlert,
.DownloadReport,
.MaintenanceList,
.AddMaintenance,
.CheckMaintenance {
  display: flex;
  height: 100%;
  width: 60%;
  padding: 18px 23px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
  .TopBar {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p {
      font-weight: bold;
      color: var(--color-font-grey);
    }
  }
}

.ImgBox {
  display: flex;
  width: 100%;
  height: 235px;
  img {
    width: inherit;
  }
}

.UnknownData {
  display: flex;
  flex-direction: column;
  background: var(--color-component-bg);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}

.SubTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h3 {
    font-weight: bold;
  }
  .Main {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  span {
    display: flex;
    align-items: center;
  }
}

.MachineDisaster {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  .EarthQucik {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    flex: 1 0 0;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background: var(--color-component-bg);
    box-shadow: var(--color-shadow);
    h3,
    h4 {
      color: var(--color-Header);
      font-weight: bold;
      line-height: normal;
    }
    .InfoBar {
      display: flex;
      width: 100%;
    }
    .Info {
      display: flex;
      padding: 10px 10px;
      gap: 10px;
      border-radius: 5px 0px 0px 5px;
      background: #ffd6e9;
      flex-grow: 1;
      font-weight: 700;
      color: #414141;
      .data {
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
      }
    }
    button {
      color: #fff;
      padding-right: 10px;
      padding-left: 10px;
      border-radius: 0 5px 5px 0;
    }
  }
  .Typhoon {
    display: flex;
    padding: 10px;
    height: 100%;
    flex: 1 0 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
    h3,
    h4 {
      color: #e95098;
      font-weight: bold;
      line-height: normal;
    }
    .Info {
      display: flex;
      width: 100%;
      padding: 10px 10px;
      gap: 10px;
      border-radius: 5px;
      background: #ffd6e9;
      font-weight: 700;
      color: #414141;
      .data {
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.NewsDisaster {
  display: flex;
  width: 100%;
  gap: 10px;
}

/* .MachineSensor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  .Title {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: var(--color-Header);
    h3 {
      color: var(--color-Header);
    }
  }

  .SensorList {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px 5px 10px;
    flex-grow: 1;
    overflow-y: auto;
    gap: 2%;
    row-gap: 10px;
    flex-wrap: wrap;
  }
} */

.SensorUnknown {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--color-component-bg);
  box-shadow: var(--color-shadow);
  color: var(--color-primary);
  border-radius: 5px;
  h2 {
    color: var(--color-Header);
  }
}

.animated-marker {
  width: 30px;
  height: 30px;
  background-color: #ff5722; /* 圓形顏色 */
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.SensorTable {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 10px;
  flex-direction: row;
  border-radius: 10px;
  background: var(--color-component-bg);
  box-shadow: var(--color-shadow);
  .TableColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaaaaa;
    flex: 1 0 0;
    .header {
      display: flex;
      padding: 3px;
      justify-content: center;
      align-items: center;
      gap: 3px;
      align-self: stretch;
      background: var(--color-Header);
      color: var(--color-font-white);
    }
    p {
      padding: 5px 0;
      font-weight: bold;
    }
  }
}

.SensorTool,
.BridgeTool {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  border-radius: 10px;
  background: var(--color-component-bg);
  box-shadow: var(--color-shadow);
  overflow: hidden;
  .Tablist {
    display: flex;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid var(--color-tab-font);
    cursor: pointer;
    .Tab {
      display: flex;
      padding: 10px 0;
      flex: 1 0 0;
      justify-content: center;
      align-items: center;
      color: var(--color-tab-font);
    }
  }
}

.searchBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  input {
    border: 1px solid var(--color-Button-bg);
    background: var(--color-input);
  }
}

.DisasterList {
  display: flex;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  overflow: hidden;
  .Filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .DateFilter {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 100%;
      color: var(--color-Button-bg);
      input {
        height: 100%;
        font-size: 0.9em;
        color: var(--color-Button-bg);
      }
      span {
        text-decoration: underline;
        cursor: pointer;
        color: var(--color-icon-button);
        transition: color 0.3s ease;
      }
      span:hover {
        color: var(--color-Button-bg);
      }
    }
    button {
      height: 100%;
      color: var(--color-Button-font);
    }
    .result {
      display: flex;
      padding: 5px;
      background-color: #e95098;
      color: #ffffff;
      border-radius: 5px;
    }
  }
  .ResultList {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    padding: 0 5px;
    gap: 10px;
    row-gap: 10px;
    align-items: flex-start;
    overflow-y: auto;
    .Result {
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: calc((100% - 20px) / 3); /* 每行最多 3 個，總間距扣除後平均分配 */
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid #e95098;
      color: #e95098;
      background: #fff;
      cursor: pointer;
    }
  }
  input {
    border: 1px solid var(--color-Button-bg);
    background: var(--color-tab-bg);
  }
  .List {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    padding: 5px;
    gap: 10px;
    row-gap: 10px;
    overflow-y: auto;
    .DisasterComponents {
      width: calc((100% - 10px) / 2); /* 每行最多 2 個，總間距扣除後平均分配 */
      height: fit-content;
      border: 2px solid #f1f1f1;
      box-shadow: unset;
      p {
        font-size: 0.775em;
      }
      h4 {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .data {
        h4 {
          cursor: pointer;
        }
      }
    }
  }
}

.TabSet {
  display: flex;
  height: fit-content;
  max-width: 30%;
  height: 40px;
  flex: 1 0 0;
  border: 1px solid var(--color-tab-font);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  h4 {
    text-align: center;
    padding: 5px;
    flex: 1 0 0;
    height: 100%;
  }
}

/* 啟動時的特殊Button */
.specialActive {
  background-color: var(--color-Button-bg);
  color: #fff !important;
}

.specialInactive {
  background-color: var(--color-component-bg);
  color: var(--color-Button-hover);
}

.noneSensor {
  display: flex;
  height: fit-content;
  max-width: 30%;
  height: 40px;
  flex: 1 0 0;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  overflow: hidden;
}

.ScrollArea {
  display: flex;
  flex: 1 0 0;
  overflow: auto;
}

.MobileMenu {
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.DataFilter {
  display: flex;
  width: 100%;
  gap: 10px;
  select {
    border: 1px solid var(--color-primary);
  }
  button {
    color: var(--color-Button-font);
  }
}

.CatogaryBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .CatogaryList {
    display: flex;
    gap: 5px;
    .Catogary {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      font-size: 21px;
      font-weight: bold;
      border-radius: 10px;
      color: #202a69;
      background-color: var(--color-white);
      box-shadow: var(--color-shadow);
    }
    .active {
      background-color: var(--color-Button-bg);
      color: var(--color-font-white);
    }
  }

  .PositionDetail {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--color-component-bg);
    box-shadow: var(--color-shadow);
    border-radius: 10px;
    span {
      color: var(--color-primary);
    }
  }
}

.ReportForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 0 0;
  gap: 10px;
  button {
    width: 100%;
    color: var(--color-Button-font);
  }
  .InputBlock {
    height: 100%;
  }
}

.InputBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 10px;
  background-color: var(--color-component-bg);
  box-shadow: var(--color-shadow);
  border-radius: 10px;
  .title {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .ImageBox {
    border: 1px solid #202a69;
    gap: 10px;
    .CropButton {
      display: flex;
      gap: 10px;
    }
  }
  button {
    color: var(--color-Button-font);
  }
  h4 {
    span {
      font-size: 0.8em;
      color: var(--color-font-white);
      padding: 5px 10px;
      border-radius: 5px;
      background: #ff5858;
    }
  }
  textarea {
    height: 100% !important;
    width: 100% !important;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
  }
  .InputCheck {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #ff5858;
    input {
      width: auto;
      flex: none;
      min-height: unset;
    }
  }
}

.css-1edd5lf-MuiTableCell-root {
  border: unset !important;
}

.Table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  span {
    color: #e95098;
    margin-right: 5px;
    font-weight: bold;
  }
}

.TableClass {
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-component-bg);
  height: fit-content;
  max-height: 100%;
}

.TableHeader {
  h3 {
    color: white;
    font-size: 1.125em;
  }
}

.TableCell {
  border: "1px solid #E95098";
}

.emptyTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-component-bg);
  align-items: center;
  color: var(--color-primary);
  height: 75vh;
}

.NewForm {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  padding: 0 10px;
  gap: 10px;
  .information {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 10px;
    background-color: var(--color-component-bg);
    box-shadow: var(--color-shadow);
    border-radius: 10px;
    h3 {
      flex: 1 0 0;
    }
    button {
      color: var(--color-Button-font);
    }
  }
}

.ButtonSet {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 0 10px;
  button {
    flex: 1 0 0;
    color: var(--color-Button-font);
  }
  .close {
    color: var(--color-Button-bg);
    background-color: var(--color-font-white);
    border: 1px solid var(--color-Button-bg);
  }
}

.Surveillance {
  display: flex;
  gap: 10px;
  height: 100%;
  padding: 10px;
  .SurveillanceVideo {
    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
  .HlsError{
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    background-color: #ff5858;
    font-weight: bold;
    color: var(--color-font-white);
    border-radius: 5px;
  }
  .ImageRecognition {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: 10px;
    border: solid 1px var(--color-Header);
    border-radius: 5px;
    padding: 10px;
    .Title{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .ImageDetails{
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      row-gap: 5px;
      .Details {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        width: 49%;
        h4{
          color: var(--color-font-black);
        }
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1 0 0;
          padding: 5px;
          background-color: var(--color-font-white);
          font-weight: bold;
        }
      }
    }
  }
  .Conclusion {
    margin-top: 2%;
    h4 {
      color: var(--color-Header);
    }
  }
}

