.FloatingMenu {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 70px;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    z-index: 1002;
    position: absolute;
    cursor: move;
    height: fit-content;
    width: 70px;
    .mainButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        background: var(--color-Button-bg);
        color: var(--color-Button-font);
        box-shadow: var(--color-shadow);
        height: 70px;
        width: 70px;
        border-radius: 100%;
    }
    .hoverButton {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        color: var(--color-Button-font);
        font-size: 30px;
    }
}